absl-py==0.2.0
APScheduler==3.5.3
arrow==0.12.1
astor==0.6.2
backcall==0.1.0
bleach==1.5.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
commentjson==0.7.1
defusedxml==0.5.0
docopt==0.6.2
entrypoints==0.2.3
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gast==0.2.0
grpcio==1.11.0
h5py==2.8.0
html5lib==0.9999999
idna==2.8
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.0
numpy==1.14.2
pandas==0.22.0
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.0
pickleshare==0.7.5
Pillow==5.1.0
pip==18.0
pipreqs==0.4.9
prometheus-client==0.4.2
prompt-toolkit==2.0.6
protobuf==3.6.1
Pygments==2.2.0
pymssql==2.1.3
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.21.0
sandglass==0.0.1
scikit-learn==0.20.0
scipy==1.1.0
Send2Trash==1.5.0
setuptools==28.8.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.12
tensorboard==1.12.2
tensorflow==1.12.0
tensorvision==0.1.dev2
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
wheel==0.31.0
widgetsnbextension==3.4.2
xlwt==1.3.0
yarg==0.1.9
